<!-- Splash | Pages -->
<section class="hero is-fullheight splash-hero">
  <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand title">
          <%= link_to "Outraise", root_path, class:"navbar-item has-text-weight-bold is-lowercase has-text-white" %>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navhamburger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navhamburger" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <span class="menulinks has-text-white">
                <%= link_to "Features", root_path %>
                <%= link_to "Pricing", root_path %>
                <%= link_to "FAQs", root_path %>
                <%= link_to "Login", new_user_session_path %>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container">
        <h1 class="title splash-title has-text-weight-bold has-text-white has-text-centered has-decreased-margin has-bottom-padding">
          No more<br>
          Mailed checks.
        </h1>
        <h2 class="subtitle has-text-white has-text-centered has-text-weight-normal">
          Outraise is a powerful, yet simple fundraising platform. Supporters donate using<br> credit card, PayPal or ACH bank transfer then your campaign receive funds instantly.
        </h2>

        <div class="buttons is-centered has-bottom-padding">
          <%= link_to "Get Started for Free", new_user_registration_path, class:"button has-text-weight-semibold is-warning has-text-size-14px is-padded is-uppercase" %>
        </div>
      </div>
    </div>
</section>
